<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/1.jpg" alt="" class="card-img">

        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    It
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/2.jpg" alt="" class="card-img">

        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    The Stand
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        2 days ago
                    </small>
                </p>
                
            </div>
        </div>
    </div>
</div>



<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/3.jpg" alt="" class="card-img">

        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Pet Sematary
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        5 days ago
                    </small>
                </p>
                
            </div>
        </div>
    </div>
</div>



<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/4.jpg" alt="" class="card-img">

        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    Salem's Lot
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        1 week ago
                    </small>
                </p>
                
            </div>
        </div>
    </div>
</div>




